### Tips

In [26]:
import pkg_resources 
import pandas 
OutputDataSet = pandas.DataFrame(sorted([(i.key, i.version) for i in pkg_resources.working_set])) 
print(OutputDataSet)

                     0       1
0          argon2-cffi  20.1.0
1      async-generator    1.10
2                attrs  20.3.0
3             backcall   0.2.0
4       beautifulsoup4   4.9.3
..                 ...     ...
87               wheel  0.36.2
88  widgetsnbextension   3.5.1
89        wincertstore     0.2
90             xgboost   1.4.1
91                zipp   3.4.1

[92 rows x 2 columns]

In [25]:
import sklearn
help(sklearn)

Help on package sklearn:

NAME
    sklearn

DESCRIPTION
    Machine learning module for Python
    ==================================

    sklearn is a Python module integrating classical machine
    learning algorithms in the tightly-knit world of scientific Python
    packages (numpy, scipy, matplotlib).

    It aims to provide simple and efficient solutions to learning problems
    that are accessible to everybody and reusable in various contexts:
    machine-learning as a versatile tool for science and engineering.

    See http://scikit-learn.org for complete documentation.

PACKAGE CONTENTS
    __check_build (package)
    _build_utils (package)
    _config
    _distributor_init
    _isotonic
    _loss (package)
    _min_dependencies
    base
    calibration
    cluster (package)
    compose (package)
    conftest
    covariance (package)
    cross_decomposition (package)
    datasets (package)
    decomposition (package)
    discriminant_analysis
    dummy
    ensemble (package)
    exceptions
    experimental (package)
    externals (package)
    feature_extraction (package)
    feature_selection (package)
    gaussian_process (package)
    impute (package)
    inspection (package)
    isotonic
    kernel_approximation
    kernel_ridge
    linear_model (package)
    manifold (package)
    metrics (package)
    mixture (package)
    model_selection (package)
    multiclass
    multioutput
    naive_bayes
    neighbors (package)
    neural_network (package)
    pipeline
    preprocessing (package)
    random_projection
    semi_supervised (package)
    setup
    svm (package)
    tests (package)
    tree (package)
    utils (package)

FUNCTIONS
    clone(estimator, *, safe=True)
        Constructs a new unfitted estimator with the same parameters.

        Clone does a deep copy of the model in an estimator
        without actually copying attached data. It yields a new estimator
        with the same parameters that has not been fitted on any data.

        If the estimator's `random_state` parameter is an integer (or if the
        estimator doesn't have a `random_state` parameter), an *exact clone* is
        returned: the clone and the original estimator will give the exact same
        results. Otherwise, *statistical clone* is returned: the clone might
        yield different results from the original estimator. More details can be
        found in :ref:`randomness`.

        Parameters
        ----------
        estimator : {list, tuple, set} of estimator instance or a single             estimator instance
            The estimator or group of estimators to be cloned.

        safe : bool, default=True
            If safe is False, clone will fall back to a deep copy on objects
            that are not estimators.

    config_context(**new_config)
        Context manager for global scikit-learn configuration

        Parameters
        ----------
        assume_finite : bool, default=False
            If True, validation for finiteness will be skipped,
            saving time, but leading to potential crashes. If
            False, validation for finiteness will be performed,
            avoiding error.  Global default: False.

        working_memory : int, default=1024
            If set, scikit-learn will attempt to limit the size of temporary arrays
            to this number of MiB (per job when parallelised), often saving both
            computation time and memory on expensive operations that can be
            performed in chunks. Global default: 1024.

        print_changed_only : bool, default=True
            If True, only the parameters that were set to non-default
            values will be printed when printing an estimator. For example,
            ``print(SVC())`` while True will only print 'SVC()', but would print
            'SVC(C=1.0, cache_size=200, ...)' with all the non-changed parameters
            when False. Default is True.

            .. versionchanged:: 0.23
               Default changed from False to True.

        display : {'text', 'diagram'}, default='text'
            If 'diagram', estimators will be displayed as a diagram in a Jupyter
            lab or notebook context. If 'text', estimators will be displayed as
            text. Default is 'text'.

            .. versionadded:: 0.23

        Notes
        -----
        All settings, not just those presently modified, will be returned to
        their previous values when the context manager is exited. This is not
        thread-safe.

        Examples
        --------
        >>> import sklearn
        >>> from sklearn.utils.validation import assert_all_finite
        >>> with sklearn.config_context(assume_finite=True):
        ...     assert_all_finite([float('nan')])
        >>> with sklearn.config_context(assume_finite=True):
        ...     with sklearn.config_context(assume_finite=False):
        ...         assert_all_finite([float('nan')])
        Traceback (most recent call last):
        ...
        ValueError: Input contains NaN, ...

        See Also
        --------
        set_config : Set global scikit-learn configuration.
        get_config : Retrieve current values of the global configuration.

    get_config()
        Retrieve current values for configuration set by :func:`set_config`

        Returns
        -------
        config : dict
            Keys are parameter names that can be passed to :func:`set_config`.

        See Also
        --------
        config_context : Context manager for global scikit-learn configuration.
        set_config : Set global scikit-learn configuration.

    set_config(assume_finite=None, working_memory=None, print_changed_only=None, display=None)
        Set global scikit-learn configuration

        .. versionadded:: 0.19

        Parameters
        ----------
        assume_finite : bool, default=None
            If True, validation for finiteness will be skipped,
            saving time, but leading to potential crashes. If
            False, validation for finiteness will be performed,
            avoiding error.  Global default: False.

            .. versionadded:: 0.19

        working_memory : int, default=None
            If set, scikit-learn will attempt to limit the size of temporary arrays
            to this number of MiB (per job when parallelised), often saving both
            computation time and memory on expensive operations that can be
            performed in chunks. Global default: 1024.

            .. versionadded:: 0.20

        print_changed_only : bool, default=None
            If True, only the parameters that were set to non-default
            values will be printed when printing an estimator. For example,
            ``print(SVC())`` while True will only print 'SVC()' while the default
            behaviour would be to print 'SVC(C=1.0, cache_size=200, ...)' with
            all the non-changed parameters.

            .. versionadded:: 0.21

        display : {'text', 'diagram'}, default=None
            If 'diagram', estimators will be displayed as a diagram in a Jupyter
            lab or notebook context. If 'text', estimators will be displayed as
            text. Default is 'text'.

            .. versionadded:: 0.23

        See Also
        --------
        config_context : Context manager for global scikit-learn configuration.
        get_config : Retrieve current values of the global configuration.

    show_versions()
        Print useful debugging information"

        .. versionadded:: 0.20

DATA
    __SKLEARN_SETUP__ = False
    __all__ = ['calibration', 'cluster', 'covariance', 'cross_decompositio...

VERSION
    0.24.1

FILE
    c:\users\weezs\anaconda3\envs\potato\lib\site-packages\sklearn\__init__.py

### 작업형 제1유형

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('mtcars.csv')
df.head(5)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         32 non-null     int64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        32 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     int64
 10  gear        32 non-null     int64
 11  carb        32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

### 작업형 제2유형

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler

In [41]:
X_train = pd.read_csv('X_train.csv', encoding='cp949')
X_test = pd.read_csv('X_test.csv', encoding='cp949')
y_train = pd.read_csv('y_train.csv', encoding='cp949')
print(X_train.shape, y_train.shape, X_test.shape)

(3500, 10) (3500, 2) (2482, 10)

In [42]:
X = pd.concat([X_train, X_test])
X.shape

(5982, 10)

In [43]:
pd.options.display.float_format = '{:.2f}'.format
X.describe(include='all')

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
count,5982.00,5982.00,5982.00,2076.00,5982,5982,5982.00,5982.00,5982.00,5982.00
unique,nan,nan,nan,nan,42,24,nan,nan,nan,nan
top,nan,nan,nan,nan,기타,본 점,nan,nan,nan,nan
freq,nan,nan,nan,nan,1060,1803,nan,nan,nan,nan
mean,2990.50,95698377.66,20538144.47,24694521.07,NaN,NaN,19.36,2.83,0.30,20.68
std,1727.00,167647993.41,33308051.38,52812219.37,NaN,NaN,26.68,1.85,0.29,24.49
min,0.00,-52421520.00,-37440000.00,5600.00,NaN,NaN,1.00,1.00,0.00,0.00
25%,1495.25,4867800.00,2875000.00,2304000.00,NaN,NaN,2.00,1.70,0.03,4.00
50%,2990.50,28985000.00,10197600.00,7627000.00,NaN,NaN,9.00,2.38,0.25,13.00
75%,4485.75,114289262.50,24472500.00,23532500.00,NaN,NaN,26.00,3.38,0.44,28.00
max,5981.00,2861237540.00,706629000.00,871514400.00,NaN,NaN,285.00,22.08,1.00,177.00

In [44]:
X.isnull().sum()

cust_id       0
총구매액          0
최대구매액         0
환불금액       3906
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [45]:
# 환불한 금액이 없으면 '0'원으로 처리
X = X.fillna(0)
X

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,0,68282840,11264000,6860000.00,기타,강남점,19,3.89,0.53,17
1,1,2136000,2136000,300000.00,스포츠,잠실점,2,1.50,0.00,1
2,2,3197000,1639000,0.00,남성 캐주얼,관악점,2,2.00,0.00,1
3,3,16077620,4935000,0.00,기타,광주점,18,2.44,0.32,16
4,4,29050000,24000000,0.00,보석,본 점,2,1.50,0.00,85
...,...,...,...,...,...,...,...,...,...,...
2477,5977,82581500,23976000,0.00,골프,부산본점,8,1.75,0.64,40
2478,5978,480000,480000,0.00,섬유잡화,광주점,1,1.00,0.00,0
2479,5979,260003790,25750000,0.00,남성 캐주얼,본 점,19,3.74,0.92,18
2480,5980,88991520,18120000,0.00,육류,본 점,5,3.60,0.44,60
2481,5981,623700,209000,0.00,가공식품,영등포점,2,5.00,0.00,31

In [46]:
X_hot = pd.get_dummies(X, drop_first=True)
X_hot

,cust_id,총구매액,최대구매액,환불금액,내점일수,내점당구매건수,주말방문비율,구매주기,주구매상품_가구,주구매상품_건강식품,...,주구매지점_안양점,주구매지점_영등포점,주구매지점_울산점,주구매지점_인천점,주구매지점_일산점,주구매지점_잠실점,주구매지점_전주점,주구매지점_창원점,주구매지점_청량리점,주구매지점_포항점
0,0,68282840,11264000,6860000.00,19,3.89,0.53,17,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2136000,2136000,300000.00,2,1.50,0.00,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,3197000,1639000,0.00,2,2.00,0.00,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,16077620,4935000,0.00,18,2.44,0.32,16,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,29050000,24000000,0.00,2,1.50,0.00,85,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2477,5977,82581500,23976000,0.00,8,1.75,0.64,40,0,0,...,0,0,0,0,0,0,0,0,0,0
2478,5978,480000,480000,0.00,1,1.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2479,5979,260003790,25750000,0.00,19,3.74,0.92,18,0,0,...,0,0,0,0,0,0,0,0,0,0
2480,5980,88991520,18120000,0.00,5,3.60,0.44,60,0,0,...,0,0,0,0,0,0,0,0,0,0
2481,5981,623700,209000,0.00,2,5.00,0.00,31,0,0,...,0,1,0,0,0,0,0,0,0,0

In [47]:
from sklearn.model_selection import train_test_split
new_X_train, new_X_test = train_test_split(X_hot[:3500], test_size=0.2, random_state=42)
new_y_train, new_y_test = train_test_split(y_train['gender'], test_size=0.2, random_state=42)
print(new_X_train.shape, new_y_train.shape, new_X_test.shape, new_y_test.shape)

(2800, 72) (2800,) (700, 72) (700,)

In [48]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=42)
model.fit(new_X_train, new_y_train)
y_pred = model.predict_proba(new_X_test)
pd.DataFrame(y_pred)

       0    1
0   0.53 0.47
1   0.24 0.76
2   0.74 0.26
3   0.67 0.33
4   0.77 0.23
..   ...  ...
695 0.49 0.51
696 0.72 0.28
697 0.57 0.43
698 0.69 0.31
699 0.24 0.76

[700 rows x 2 columns]

In [49]:
from sklearn.metrics import roc_auc_score
roc_auc_score(new_y_test, y_pred[:, 1])

0.6601513240857503

In [51]:
res = pd.DataFrame(X[3500:]['cust_id'])

model.fit(X_hot[:3500], y_train['gender'])
res_predict = model.predict_proba(X_hot[3500:])
res_predict = pd.DataFrame(res_predict[:, 1])

df = pd.concat([res, res_predict], ignore_index=True, axis=1)
df = df.rename(columns = {0: 'custid', 1: 'gender'})
df.to_csv('수험번호.csv', index=False)